#book-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    position: relative;
    margin: 10px;
    padding: 2.2%;
    background-color: #e2daf9;
    border-radius: 5px;
    width: 250px;
    text-align: center;
  }

  .info{
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
  }
  
  
  .book_image {
    max-width: 200px;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  
  button {
    background-color: #f0f0f0;
    border: none;
    /* padding: 10px; */
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #e0e0e0;
  }

  .lend{
    background-color: rgb(123, 193, 18);
  }

  .del{
    background-color: rgb(189, 64, 64);
  }

  .book-body{
    margin-bottom: 20%;
    text-align: center;
  }

  #search-bar {
    padding: 10px;
    border: 1px solid #ffffff;
    border-radius: 20px;
    font-size: 15px;
    width: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 35px;
  }
  
  #search-bar:focus {
    outline: none;
    border-color: #af92ff;
    box-shadow: 0 2px 5px rgba(124, 77, 255, 0.2);
  } 
  
  @media (max-width:668px){
    #search-bar {
      width: 80%;
    }
  }

  .bookInfoDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: auto;
    margin-top: 10%;
    max-width: 70%;
    max-height: 100%;
    padding: 20px;
    background-color: rgba(255, 255, 255);
    border: 0.5px none #482c62;
    border-radius: 5px;
    z-index: 9999;
    display: none;

    }
    .bookInfoDiv h2{
      text-align: center;
    }
    .bookInfoDiv p{
      margin-left: 15%;
      margin-right: 15%;
    }
    .bookInfoDiv strong, h2{
      color: #482c62;
    }
  
  .conteiner {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    background-color: #d2c3fa7b;
    border: none;
    z-index: 9999;
    display: none;
    text-align: left;
  }
  
    
  .del{
    background-color: white;
    border: 2px solid #fc9b9b;
    position: absolute;
    top: 0;
    right: 0;
    right:10px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .del:hover{
    background-color: #fc9b9b;
  }