<!DOCTYPE html>
<html>
  <head>
    <title>Borrow in School</title>
    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto+Mono:wght@700&display=swap" rel="stylesheet">
  </head>
  
  <body>
    <h1>Borrow Book</h1>
    <div class="change-form">
    <form id="edit-form">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" value=""><br>
        <label for="book">Book:</label>
        <input type="text" id="book" name="book" value=""><br>
        <button id="edit-btn" class="button-login"><input type="submit" value="Borrow" ></button>
    </form>
                
    </div>
    <div class="footer">
      <h3>Copyright © 2023</h3>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type=module src="javascripts/borrow-in-school.js"> </script>
  </body>
</html>