<!DOCTYPE html>
<html>
  <head>
    <title>Main Page</title>
    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto+Mono:wght@700&display=swap" rel="stylesheet">
  </head>
  
  <div class="menu">
    <div class="div-menu">
      <button class="profile-btn" id="profile-btn"><img src="images/id-card-solid.svg" alt="id card"></button>
    </div>

    <div>
      
      <button  id="logout-button" class="logout-button">Logout</button>
    
    </div>
    
  </div>
  

  
  <body>
    <div class="card-desk">
        <div class="card">
            <img src="images/list-check-solid.svg" alt="request for lending">
            <div class="card-content">
              <h3>Lending requests</h3>
              <!-- <p>With this option you can add new School</p> -->
              <a href="/lending-requests">Let's start!</a>
            </div>
        </div>
        <div class="card">
          <img src="images/user-plus-solid.svg" alt="Card Image check">
          <div class="card-content">
            <h3>Verify student's or teacher's request</h3>
            <!-- <p>With this option you can verify the registration request of the school-admin</p> -->
            <a href="/teachers-students">Let's start!</a>
          </div>
        </div>
        <div class="card">
          <img src="images/file-circle-question-solid.svg" alt="pending bookings">
          <div class="card-content">
            <h3>Pending reservations</h3>
            <!-- <p>With this option the user can do sth</p> -->
            <a href="/pending-reservations">Let's start!</a>
          </div>
        </div>
        <div class="card">
          <img src="images/list-solid.svg" alt="borrowed">
          <div class="card-content">
            <h3>Lendings</h3>
            <!-- <p>With this option the user can do sth</p> -->
            <a href="/lendings">Let's start!</a>
          </div>
        </div>
        <div class="card">
          <img src="images/book-solid.svg" alt="Books">
          <div class="card-content">
            <h3>Βooks</h3>
            <!-- <p>With this option the user can do sth</p> -->
            <a href="/books">Let's start!</a>
          </div>
        </div>
        <div class="card">
          <img src="images/borrow.png" alt="boo in sch">
          <div class="card-content">
            <h3>Βorrow in School</h3>
            <!-- <p>With this option the user can do sth</p> -->
            <a href="/borrow-in-school">Let's start!</a>
          </div>
        </div>
        <div class="card">
          <img src="images/alert.png" alt="alerts">
          <div class="card-content">
            <h3>Delayed returns</h3>
            <!-- <p>With this option the user can do sth</p> -->
            <a href="/delayed-lendings">Let's start!</a>
          </div>
        </div>
        <div class="card">
          <img src="images/users-solid.svg" alt="all users">
          <div class="card-content">
            <h3>Users</h3>
            <!-- <p>With this option the user can do sth</p> -->
            <a href="/users">Let's start!</a>
          </div>
        </div>
        <div class="card">
          <img src="images/team.png" alt="assessment">
          <div class="card-content">
            <h3>Student reviews</h3>
            <!-- <p>With this option the user can do sth</p> -->
            <a href="verify-reviews">Let's start!</a>
          </div>
        </div>
        <div class="card">
          <img src="images/question-solid.svg" alt="Card Image query">
          <div class="card-content">
            <h3>3.2.3-Average rating genres users</h3>
            <!-- <p>With this option the user can do sth</p> -->
            <a href="/average-rating-genres-users">Let's start!</a>
          </div>
        </div>

    </div>

  <div class="footer">
    <h3>Copyright © 2023</h3>
  </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type=module src="javascripts/profileButton.js"> </script>
    <script type=module src="javascripts/logout.js"> </script>
  </body>
</html>