<!DOCTYPE html>
<html>
  <head>
    <title>Super Admin</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto+Mono:wght@700&display=swap" rel="stylesheet">
  </head>
  <div class="right-display">
    <a href="login.html">
      <button class="logout-button">Logout</button>
    </a>
  </div>
  
  <h1>Super Admin</h1>
  <body>
    <div class="card-desk">
        <div class="card">
            <img src="images/plus-solid.svg" alt="Card Image plus">
            <div class="card-content">
              <h3>New School</h3>
              <!-- <p>With this option you can add new School</p> -->
              <a href="#">Let's start!</a>
            </div>
        </div>
        <div class="card">
          <img src="images/check-solid.svg" alt="Card Image check">
          <div class="card-content">
            <h3>Verify School's Admin request</h3>
            <!-- <p>With this option you can verify the registration request of the school-admin</p> -->
            <a href="#">Let's start!</a>
          </div>
        </div>
        <div class="card">
          <img src="images/download-solid.svg" alt="Card Image backup">
          <div class="card-content">
            <h3>Backup</h3>
            <!-- <p>With this option the user can do sth</p> -->
            <a href="#">Let's start!</a>
          </div>
        </div>
        <div class="card">
          <img src="images/upload-solid.svg" alt="Card Image restore">
          <div class="card-content">
            <h3>Restore</h3>
            <!-- <p>With this option the user can do sth</p> -->
            <a href="#">Let's start!</a>
          </div>
        </div>

    </div>
    <div class="footer">
        <h3>Copyright © 2023</h3>
    </div>
    
  </body>
</html>