<!DOCTYPE html>
<html>
  <head>
    <title>Main Page</title>
    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto+Mono:wght@700&display=swap" rel="stylesheet">
  </head>
  
  <div class="menu">
    <div class="div-menu">
      <button class="profile-btn" id="profile-btn"><img src="images/id-card-solid.svg" alt="id card"></button>
    </div>


    <div>
   
        <button id="logout-button" class="logout-button">Logout</button>
  
    </div>
    
  </div>
  

  
  <body>
    <div class="card-desk">
        <div class="card">
            <img src="images/pen-to-square-solid.svg" alt="Card Image plus">
            <div class="card-content">
              <h3>Schools</h3>
              <!-- <p>With this option you can add new School</p> -->
              <a href="/schools">Let's start!</a>
            </div>
        </div>
        <div class="card">
          <img src="images/check-solid.svg" alt="Card Image check">
          <div class="card-content">
            <h3>Verify School Admin's request</h3>
            <!-- <p>With this option you can verify the registration request of the school-admin</p> -->
            <a href="/verify-admin">Let's start!</a>
          </div>
        </div>
        <div class="card">
          <img src="images/download-solid.svg" alt="Card Image backup">
          <div class="card-content">
            <h3>Backup</h3>
            <!-- <p>With this option the user can do sth</p> -->
            <button id="backup" class="restore"><a href="#">Let's start!</a></button>
          </div>
        </div>
        <div class="card">
          <img src="images/upload-solid.svg" alt="Card Image restore">
          <div class="card-content">
            <h3>Restore</h3>
            <!-- <p>With this option the user can do sth</p> -->
            <button id="restore" class="restore"><a href="#">Let's start!</a></button>
          </div>
        </div>
        <div class="card">
          <img src="images/question-solid.svg" alt="Card Image query">
          <div class="card-content">
            <h3>Queries</h3>
            <!-- <p>With this option the user can do sth</p> -->
            <a href="/queries">Let's start!</a>
          </div>
        </div>
        

    </div>

  <div class="footer">
    <h3>Copyright © 2023</h3>
  </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type=module src="javascripts/profileButton.js"> </script>
    <script type=module src="javascripts/logout.js"> </script>
    <script type=module src="javascripts/backup-restore.js"> </script>
  </body>
</html>