<!DOCTYPE html>
<html>
  <head>
    <title>Main Page</title>
    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto+Mono:wght@700&display=swap" rel="stylesheet">
  </head>
  
  <div class="menu">
    <div>
      <button class="profile-btn" id="profile-btn"><img src="images/id-card-solid.svg" alt="id card"></button>
    </div>

    <div>
        <button class="logout-button" id="logout-button">Logout</button>
    </div>
    
  </div>
  

  
  <body>
    <div class="card-desk">
        <div class="card">
            <img src="images/list-check-solid.svg" alt="request for lending">
            <div class="card-content">
              <h3>My lending requests</h3>
              <!-- <p>With this option you can add new School</p> -->
              <a href="#">Let's start!</a>
            </div>
        </div>
        
        <div class="card">
          <img src="images/book-solid.svg" alt="Books">
          <div class="card-content">
            <h3>Βooks</h3>
            <!-- <p>With this option the user can do sth</p> -->
            <a href="#">Let's start!</a>
          </div>
        </div>   
        <div class="card">
          <img src="images/borrow.png" alt="Books">
          <div class="card-content">
            <h3>My Borrowings</h3>
            <!-- <p>With this option the user can do sth</p> -->
            <a href="#">Let's start!</a>
          </div>
        </div>            

    </div>

  <div class="footer">
    <h3>Copyright © 2023</h3>
  </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type=module src="javascripts/profileButton.js"> </script>
    <script type=module src="javascripts/logout.js"> </script>
  </body>
</html>