<!DOCTYPE html>
<html>
  <head>
    <title>Super Admin</title>
    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto+Mono:wght@700&display=swap" rel="stylesheet">
  </head>
  <body>
    <h1>Schools</h1>
      <div id="admin-card" class="sch-card">

      </div>
        
        
            

      <div class="footer">
        <h3>Copyright © 2023</h3>
      </div>
      <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
      <script type=module src="javascripts/verify-sch-admin.js"> </script>
  </body>
</html>