body {
  font-family: "Montserrat", sans-serif;
  background-color: #e9e8f9;
}

h1 {
  text-align: center;
  color: #482c62;
}

/* select school in form */

select {
  width: 100%;
  padding: 10px 25px;
  margin: 15px 0;
  border-radius: 12px;
  border: 2px solid #534caf;
  font-size: 1em;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

.form-login,
.form-signup {
  max-width: 500px;
  background-color: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 4px 8px 0 rgb(0, 0, 0, 0.2);
}

.form-signup {
  margin: 100px auto;
  width: 80%;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px 25px;
  margin: 15px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid gray;
  outline: none;
}

input[type="submit"] {
  background-color: #534caf;
  color: white;
  padding: 15px 20px;
  margin: 20px 0;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  width: 100%;
}

input[type="submit"]:hover {
  background-color: #573478;
}

a {
  color: #534caf;
  font-size: 18px;
}

a:hover {
  text-decoration: none;
}

label {
  font-size: 15px;
  font-weight: bold;
}

.signup-link {
  text-align: center;
}

.signup-link a {
  font-weight: bold;
}

.img-arrow {
  width: 5%;
}

/* menu -> logout button and profile image*/
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}
.menu img {
  width: 100%;
}
.menu .div-menu {
  width: 5%;
}

/* Logout Button */
.logout-button {
  font-size: 15px;
  text-align: center;
  color: white;
  background-color: #534caf;
  border-radius: 12px;
  padding: 5px 15px;
  border: none;
}

.logout-button:hover {
  background-color: #573478;
  cursor: pointer;
}

/* card for profile */
.card-profile {
  display: flex;
  gap: 65px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgb(0, 0, 0, 0.2);
  max-width: 600px;
  margin: auto;
  /* text-align: center; */
  margin-top: 150px;
  margin-bottom: 200px;
  padding: 25px;
}

.card-profile img {
  width: 250px;
  height: 250px;
  margin-left: 10px;
}

.card-profile a {
  display: block;
  font-size: 15px;
  text-align: center;
  padding: 5px 7px;
  margin-bottom: 10px;
  background-color: white;
  color: black;
  border-radius: 12px;
  text-decoration: none;
  border: 2px solid #534caf;
}

.card-profile a:hover {
  background-color: #573478;
  color: white;
}
.card-profile .add-margin {
  margin-left: 25%;
}
.card-profile .editprofile {
  display: block;
}

.card-profile .hide-link {
  display: none;
}

.card-profile .links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.card-profile .editpassword {
  display: block;
}

/* card for password change  */
.change-form {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgb(0, 0, 0, 0.2);
  max-width: 350px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 150px;
  padding: 25px;
}
.change-form .error {
  margin-top: 10px;
  color: red;
}
.change-form .submit {
  background-color: #534caf;
  color: white;
  padding: 15px 20px;
  margin: 20px 0;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  width: 100%;
}

.change-form .submit:hover {
  background-color: #573478;
}

.alert {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f8d7da;
  color: #721c24;
  font-size: 16px;
  padding: 10px 20px;
  border: 1px solid #f5c6cb;
  border-radius: 4px;
  z-index: 9999;
}

.alert--success {
  background-color: #9af7b0;
  color: #1f7a34;
}

.alert--error {
  background-color: #fbc5ca;
  color: #d94251;
}

.alert--info {
  background-color: #cce5ff;
  color: #004085;
}

.loading {
  position: relative;
}

.loading:before {
  content: "";
  position: absolute;
  top: 20%;
  left: 65%;
  width: 15px;
  height: 15px;
  border-radius: 52%;
  border: 2.5px solid #fff;
  border-top-color: transparent;
  animation: spin 0.85s linear infinite;
}

.loading_login {
  position: relative;
}

.loading_login:before {
  content: "";
  position: absolute;
  top: 37%;
  left: 60%;
  width: 15px;
  height: 15px;
  border-radius: 52%;
  border: 2.5px solid #fff;
  border-top-color: transparent;
  animation: spin 0.85s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.loader-div {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  background-color: #573478;
  border: none;
  z-index: 9999;
  /* display: none; */
  text-align: left;
  justify-content: center;
}
.loader-div .loading {
  position: fixed;
  top: 48%;
  left: calc(50% - 50px);
}

.loader-div .loading:before {
  width: 100px;
  height: 100px;
  border: 3.5px solid #fff;
  border-top-color: transparent;
  animation: spin 0.85s linear infinite;
}

.button-login {
  display: flex;
  width: 100%;
  border: none;
  background: none;
}
.button-login:hover {
  border: none;
  background: none;
}
/* .error-items {
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* error pop up */
/* .error {
  display: block;
  position: fixed; 
  bottom: 50px;
  background: rgb(255, 132, 132);
  color: rgb(0, 0, 0);
  max-width: 80%;
  padding: 10px;
  text-align: center;
  visibility: hidden;
} */

/* .newerror {
  visibility: visible;

}
.errorr{
  visibility: hidden;
}
.success_error{
  background:rgb(187, 255, 187);
  visibility: visible;
} */
/* profile btn */
.menu .profile-btn {
  display: flex;
  border: none;
  background: none;
  width: 60px;
}
.menu .profile-btn:hover {
  border: none;
  cursor: pointer;
  background-color: #e9e8f9;
}

/* into profile for the name of the School*/
.hide-element {
  display: none;
}

/* Card for the options that the users have */
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  border: none;
  border-radius: 12px;
  box-shadow: 0 4px 8px 0 rgb(0, 0, 0, 0.2);
  padding: 10px;
  width: 300px;
}

.card img {
  display: block;
  margin: auto;
  width: 80px;
}

/* .card-content{
    display: inline;
    justify-items: right;
  } */
.card-content h3 {
  text-align: center;
}

.card-content a {
  display: block;
  font-size: 15px;
  text-align: center;
  padding: 5px 0;
  background-color: white;
  color: black;
  border-radius: 12px;
  text-decoration: none;
  border: 2px solid #534caf;
}

.card-content a:hover {
  background-color: #573478;
  color: white;
}

.card-desk {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  margin-top: 75px;
  margin-bottom: 20%;
}

.display-box {
  margin: 140px 50px 100px 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 60px;
}

.title-home {
  font-family: "Roboto Mono", monospace;
  line-height: 1.2;
  letter-spacing: 1.2px;
  font-size: 2.5em;
  text-align: left;
}

.box1,
.box2 {
  display: inline-block;
  width: 40%;
  box-sizing: border-box;
}

@media (max-width: 668px) {
  .title-home {
    text-align: center;
    font-size: 2em;
  }
  .display-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    gap: 5%;
  }

  .box1 {
    width: 100%;
  }
  .box2 {
    position: relative;
    top: 38%;
    /* left: 15%; */
    width: 100%;
  }

  /* card for profile */
  .card-profile {
    display: block;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0, 0.2);
    max-width: 250px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 100px;
    padding: 25px;
  }
  .card-profile img {
    margin-bottom: 25px;
    margin-left: auto;
  }

  .card-profilee .links {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .card-profile .add-margin {
    margin-left: 20%;
  }
}

@media (min-width: 668px) and (max-width: 916px) {
  .title-home {
    text-align: center;
    font-size: 2.2em;
  }
  .display-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    gap: 10%;
  }
  .box1 {
    width: 90%;
  }
  .box2 {
    position: relative;
    top: 37%;
    width: 70%;
  }
}

/* footer */

.footer {
  position: absolute;
  background-color: #573478;
  width: 100%;
  height: 30%;
  margin: 20px 0 20px 0;
  left: 0;
  text-align: center;
}
.footer h3 {
  color: white;
  font-size: 0.9em;
  margin-top: 5%;
}
.no-items-message {
  margin-top: 50px;
  font-size: 26px;
  margin-bottom: 250px;
  color: #573478;
}
/* restore and backup btn */
.restore {
  background: none;
  border: none;
  width: 100%;
}

.card-content button.restore:hover {
  background-color: white;
}

/* schools card for super-admin */

.sch-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 100px;
}

.sch-card .schOfone {
  position: relative;
  padding: 10px;
  width: 40%;
  height: 50%;
  background-color: aliceblue;
  margin: 10px;
  border-radius: 10px;
  padding-bottom: 20px;
}
.sch-card .schOfone h2 {
  text-align: center;
}
.sch-card .schOfone h3 {
  text-align: left;
  padding-left: 20%;
  padding-right: 20%;
}
.sch-card .sch-edit {
  position: absolute;
  top: 0;
  right: 0;
  /* margin: 15px; */
  font-size: 15px;
  background-color: #534caf;
  border: 2px solid #534caf;
  border-radius: 0 10px;
  color: white;
}
.sch-card .sch-edit:hover {
  background-color: white;
  border: 2px solid #534caf;
  border-radius: 0 12px;
  color: #573478;
  cursor: pointer;
}

.sch-card .sch-delete {
  position: absolute;
  top: 0;
  left: 0;
  /* margin: 15px; */
  font-size: 15px;
  background-color: red;
  border: 2px solid red;
  border-radius: 10px 0;
  color: white;
}
.sch-card .sch-delete:hover {
  background-color: white;
  border: 2px solid red;
  border-radius: 12px 0;
  color: #573478;
  cursor: pointer;
}

.sch-card .schOfone h2 {
  font-size: 30px;
  color: #573478;
}
.sch-card .schOfone strong,
h2 {
  font-size: 21px;
  color: #573478;
}

/* all books */

#book-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  position: relative;
  margin: 10px;
  padding: 2.2%;
  background-color: #e2daf9;
  border-radius: 5px;
  width: 250px;
  text-align: center;
}

.info {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
}

.delete {
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px;
  border-radius: 5px 0;
}

.book_image {
  max-width: 200px;
  height: auto;
  display: block;
  margin: 0 auto;
}

button {
  background-color: #f0f0f0;
  border: none;
  /* padding: 10px; */
  border-radius: 0 5px;
  /* margin: 5px; */
  cursor: pointer;
}

button:hover {
  background-color: #482c62;
  color: white;
}

.lend {
  background-color: rgb(123, 193, 18);
}

.del {
  background-color: rgb(189, 64, 64);
}

.book-body {
  margin-bottom: 20%;
  text-align: center;
}

#search-bar {
  padding: 10px;
  border: 1px solid #ffffff;
  border-radius: 20px;
  font-size: 15px;
  width: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 35px;
}

#search-bar:focus {
  outline: none;
  border-color: #af92ff;
  box-shadow: 0 2px 5px rgba(124, 77, 255, 0.2);
}

.bookInfoDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: auto;
  margin-top: 10%;
  max-width: 50%;
  max-height: 100%;
  padding: 20px;
  background-color: rgba(255, 255, 255);
  border: 0.5px none #482c62;
  border-radius: 5px;
  z-index: 9999;
  display: none;
}
.bookInfoDiv h2 {
  text-align: center;
}
.bookInfoDiv p {
  margin-left: 5%;
  margin-right: 5%;
}
.bookInfoDiv strong,
h2 {
  color: #482c62;
}

.conteiner {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  background-color: #d2c3fabc;
  border: none;
  z-index: 9999;
  display: none;
  text-align: left;
}

.del {
  background-color: white;
  border: 2px solid #fc9b9b;
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
}
.del:hover {
  background-color: #fc9b9b;
}

.book-body form {
  display: flex;
  align-items: center;
  margin-left: 5%;
  margin-right: 5%;
}

.book-body input[type="text"] {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-right: 10px;
}
.book-body input:focus {
  outline: none;
  border-color: #af92ff;
  box-shadow: 0 2px 5px rgba(124, 77, 255, 0.2);
}

.book-body button[type="submit"] {
  padding: 10px;
  background-color: #482c62;
  color: #fff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.book-body button[type="submit"]:hover {
  color: #482c62;
  background-color: #d2c3fabc;
}

@media (max-width: 668px) {
  #search-bar {
    width: 80%;
  }

  .book-body form {
    display: block;
    max-width: 70%;
    margin-left: 15%;
    margin-bottom: 20px;
  }
}

/* add-sch btn in super admin */
.add-sch {
  background-color: #482c62;
  font-size: 15px;
  border: 2px solid #482c62;
  border-radius: 15px;
  padding: 5px;
  color: white;
}

.add-sch:hover {
  background-color: #874fbc;
  border: 2px solid #874fbc;
}

#book-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  position: relative;
  margin: 10px;
  padding: 2.2%;
  background-color: #e2daf9;
  border-radius: 5px;
  width: 250px;
  text-align: center;
}

.info {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
}

.book_image {
  max-width: 200px;
  height: auto;
  display: block;
  margin: 0 auto;
}

button {
  background-color: #f0f0f0;
  border: none;
  /* padding: 10px; */
  border-radius: 0 5px;
  /* margin: 5px; */
  cursor: pointer;
}

button:hover {
  background-color: #482c62;
  color: white;
}

.lend {
  background-color: rgb(123, 193, 18);
}

.del {
  background-color: rgb(189, 64, 64);
}

.book-body {
  margin-bottom: 20%;
  text-align: center;
}

#search-bar {
  padding: 10px;
  border: 1px solid #ffffff;
  border-radius: 20px;
  font-size: 15px;
  width: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 35px;
}

#search-bar:focus {
  outline: none;
  border-color: #af92ff;
  box-shadow: 0 2px 5px rgba(124, 77, 255, 0.2);
}

.bookInfoDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: auto;
  margin-top: 5%;
  max-width: 40%;
  max-height: 100%;
  padding: 20px;
  background-color: rgba(255, 255, 255);
  border: 0.5px none #482c62;
  border-radius: 5px;
  z-index: 9999;
  display: none;
}
.bookInfoDiv h2 {
  text-align: center;
}
.bookInfoDiv p {
  margin-left: 4%;
  margin-right: 4%;
}
.bookInfoDiv strong,
h2 {
  color: #482c62;
}

.conteiner {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  background-color: #d2c3fabc;
  border: none;
  z-index: 9999;
  display: none;
  text-align: left;
}

.del {
  background-color: white;
  border: 2px solid #fc9b9b;
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
}
.del:hover {
  background-color: #fc9b9b;
}

.edit {
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px 0;
}

.book-body form {
  display: flex;
  align-items: center;
  margin-left: 5%;
  margin-right: 5%;
}

.book-body input[type="text"] {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-right: 10px;
}
.book-body input:focus {
  outline: none;
  border-color: #af92ff;
  box-shadow: 0 2px 5px rgba(124, 77, 255, 0.2);
}

.book-body button[type="submit"] {
  padding: 10px;
  background-color: #482c62;
  color: #fff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.book-body button[type="submit"]:hover {
  color: #482c62;
  background-color: #d2c3fabc;
}

@media (max-width: 668px) {
  #search-bar {
    width: 80%;
  }

  .book-body form {
    display: block;
    max-width: 70%;
    margin-left: 15%;
    margin-bottom: 20px;
  }
}

/* load when i go to page */
.load {
  position: relative;
}

#loader {
  margin: 0 0 15% calc(50% - 50px);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid #482c62;
  border-top-color: transparent;
  animation: spin 0.85s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* load when i go to book page */
#loader_book {
  margin: -100px 0 15% calc(50% - 50px);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid #482c62;
  border-top-color: transparent;
  animation: spin 0.85s linear infinite;
}

/* ratings */
.star-rating {
  display: inline-block;
}

.yellow-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("/images/star (1).png");
  background-size: cover;
}

.full-star {
  background-position: 0 0;
}

.black-star {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("/images/star.png");
  background-size: cover;
}

/* styles for the table of the queries */
.the_table {
  margin: 60px auto 325px;
  display: flex;
  justify-content: center;
}

.content-table {
  border-collapse: collapse;

  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
  background-color: #534caf;
  color: white;
  text-align: left;
}

.content-table th,
.content-table td {
  padding: 20px 32px;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: white;
  border-color: white;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #534caf;
}

#none_table {
  display: none;
}

#none_table1 {
  display: none;
}

#none_table2 {
  display: none;
}

/* 3.1.2 */

.gap-table {
  gap: 120px;
}
/* 

.the_table .table1,.table2 {
  align-self: stretch;
} */
